/* CUSTOM PROPERTIES */

:root {
  --clr-primary-200: hsl(0, 0%, 100%);
  --clr-secondary-400: hsl(75, 94%, 57%);

  --clr-neutral-900: hsl(0, 0%, 8%);
  --clr-neutral-800: hsl(0, 0%, 12%);
  --clr-neutral-700: hsl(0, 0%, 20%);

  --ff-primary: "Inter", serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* General Stylings */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  background-color: var(--clr-neutral-900);
  color: var(--clr-primary-200);
}

section {
  min-height: 100vh;
}

/* Stylings */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  z-index: 100;
}

.logo img {
  max-height: 3rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

nav {
  z-index: 10;
}

nav ul {
  font-size: 1.35rem;
  list-style: none;
  display: flex;
  gap: 5rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--clr-primary-200);
}

nav ul li a:hover {
  color: var(--clr-secondary-400) !important;
  cursor: pointer;
}

/* HOME Section */

.home {
  font-size: 1.3rem;
  /* margin-top: -5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.role-container .text {
  position: relative;
  color: var(--clr-secondary-400);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: var(--fw-semi-bold);
}

.role-container.hidden {
  display: none;
}

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--clr-neutral-900);
  border-left: 2px solid var(--clr-secondary-400);
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100%);
  }

  100% {
    left: 0%;
  }
}

.home p {
  padding: 0 5rem;
  display: inline-block;
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.description span {
  color: var(--clr-secondary-400);
  font-weight: var(--fw-semi-bold);
}

.home__button {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
}

.home__button button {
  display: flex;
  border-radius: 10px;
  border: none;
  color: var(--clr-primary-200);
  background-color: var(--clr-neutral-700);
  padding: 0.4rem 0.7rem;
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home__button button:hover {
  background-color: var(--clr-secondary-400);
  color: var(--clr-neutral-700);
  transform: scale(1.05);
}

.home__button button:hover img {
  filter: invert(0);
}

.home__button a {
  text-decoration: none;
  color: inherit;
}

.home__button img {
  margin-left: 0.5rem;
  width: 1.15rem;
  filter: invert(1);
}

.home__social-links {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
}

.home__social-links a {
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home__social-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.home__social-links img {
  width: 1.8rem;
  cursor: pointer;
  filter: invert(1);
}

/* END OF HOME SECTION */

/* ABOUT SECTION */

.container {
  display: flex;
}

.about {
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container {
  width: 100%;
  max-width: 300px;
  margin: 3rem 8rem;
}

.about__container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about__container h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about__span {
  color: var(--clr-secondary-400);
  font-weight: var(--fw-semi-bold);
}

.about__description {
  border-bottom: 1px solid var(--clr-primary-200);
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
}

.about__skills ul {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
}

.about__skills li {
  position: relative;
  padding-left: 1.8rem;
}

.about__skills li:not(:last-child)::before {
  content: "✔";
  color: var(--clr-secondary-400);
  position: absolute;
  left: 0;
  font-size: 1.2rem;
}

.about__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 580px;
  border-radius: 10px;
  box-shadow: 6px 6px 15px var(--clr-neutral-700);
  margin: 0 2rem;
  margin-bottom: 1.5rem;
}

.experiences__role {
  color: var(--clr-secondary-400);
  font-size: 1.2rem;
  font-weight: var(--fw-semi-bold);
}

.experiences__date-range {
  color: hsl(0, 0%, 45%);
  margin-bottom: 1rem;
}

/* END OF ABOUT SECTION */

/* PROJECTS SECTION */

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects h2 {
  margin-bottom: 1rem;
}

.projects__container {
  display: flex;
  gap: 3rem;
}

.project__card {
  padding: 1rem 2rem;
  background-color: var(--clr-neutral-800);
  box-shadow: 6px 6px 15px var(--clr-neutral-700);
  width: 50%;
  max-width: 640px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

.project__card h3 {
  color: var(--clr-secondary-400);
}

.project__card img {
  width: 100%;
  height: 368px;
  object-fit: cover;
  border-radius: 5px;
}

.project__button {
  border-radius: 10px;
  border: none;
  color: var(--clr-primary-200);
  background-color: var(--clr-neutral-700);
  padding: 0.4rem 0.7rem;
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: center;
}

.project__button:hover {
  background-color: var(--clr-secondary-400);
  color: var(--clr-neutral-700);
  transform: scale(1.05);
}

/* END OF PROJECTS SECTION */

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.footer__social-links a {
  margin: 0 15px;
  color: var(--clr-primary);
  text-decoration: none;
}

.footer__social-links a:hover {
  text-decoration: underline;
  color: var(--clr-secondary-400);
}

.footer span {
  color: var(--clr-secondary-400);
}

/* END OF FOOTER SECTION */

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger-menu span {
  display: block;
  width: 30px;
  margin: 4px 0;
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 990px) {
  header {
    padding: 2rem 3rem;
    width: 100%;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    z-index: 1001;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
    gap: 1rem;
    text-align: center;
  }

  nav ul li {
    border-bottom: none;
  }

  nav ul li a {
    display: block;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
  }

  /* Show full-screen menu when active */
  nav.active {
    transform: translateY(0);
  }

  .home {
    font-size: 1.05rem;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about img {
    max-width: 300px;
  }

  .projects__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .about {
    margin-top: -8rem;
    margin-bottom: 5rem;
  }

  .projects {
    margin-bottom: 3rem;
    font-size: 0.8rem;
  }

  .projects img {
    max-height: 100px;
  }
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-secondary-400);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(75, 80%, 50%);
}

::-webkit-scrollbar-track {
  background: var(--clr-neutral-800);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--clr-neutral-900);
}
